<div class="sidebar">
    <!-- Sidebar user panel (optional) -->
   

     

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      
       
               
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="#" class="nav-link active">
                            <i class="far fa-circle nav-icon"></i>
                            <a class="nav-link text-white" asp-area="Dashboard" asp-controller="Blog" asp-action="Index"> Blog </a>
                            <a class="nav-link text-white" asp-area="Dashboard" asp-controller="Employee" asp-action="Index"> Employee </a>
                            <a class="nav-link text-white" asp-area="Dashboard" asp-controller="Links" asp-action="Index"> Links </a>
                            <a class="nav-link text-white" asp-area="Dashboard" asp-controller="Service" asp-action="Index"> Service </a>
                        </a>
                 
                  
                </ul>
            
           
      
    </nav>
    <!-- /.sidebar-menu -->
</div>
